apiVersion: v1
kind: Secret
metadata:
  name: {{ longhorn_map.credentials.backup.secret }}
  namespace: {{ longhorn_vars.kubernetes.namespace }}
stringData:
#  CIFS_PASSWORD: {{ global_map.credentials.longhorn.backup.user.password }}
#  CIFS_USERNAME: {{ global_map.credentials.longhorn.backup.user.name }}
  AWS_ACCESS_KEY_ID: {{ global_map.credentials.longhorn.backup.aws.access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ global_map.credentials.longhorn.backup.aws.secret_access_key }}
type: Opaque
